* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 3, 17);
  display: flex;
  justify-content: center;
}

.background_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 280px;
  z-index: -1;
}
.background_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 100%;
  max-width: 700px;
  height: 50px;
  margin-top: 100px;
}
.container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .header .title {
  color: #0b0420;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}
.container .header .theme {
  cursor: pointer;
  color: #fff;
}
.container .create_task {
  background-color: #140c2c;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  border-radius: 6px;
}
.container .create_task .check {
  border: 1.5px solid rgb(240, 226, 226);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-inline: 10px;
  transition: all 0.2s;
}
.container .create_task .check:hover {
  background: linear-gradient(135deg, #55ddff 0%, rgba(68, 68, 221, 0.8666666667) 100%);
}
.container .create_task form {
  width: 100%;
}
.container .create_task form input {
  padding: 10px 10px;
  width: 80%;
  margin-inline: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #c2cff5;
  text-transform: uppercase;
}
.container .create_task form input::-moz-placeholder {
  color: #c2cff5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .create_task form input::placeholder {
  color: #c2cff5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .create_task button {
  padding: 8px 10px;
  border: none;
  outline: none;
  color: #0b0420;
  text-transform: uppercase;
  background-color: #0b0420;
  color: #c2cff5;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}
.container .create_task button:hover {
  background-color: #1e2a5e;
}
.container .task_wrapper {
  background-color: #0b0420;
  margin-top: 20px;
}
.container .task_wrapper .todo_kotet {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #243261;
  align-items: center;
  height: 50px;
}
.container .task_wrapper .todo_kotet .check {
  border: 1.5px solid rgb(240, 226, 226);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.container .task_wrapper .todo_kotet .todo_item {
  color: #a39ef1;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  width: 70%;
  margin-inline: 20px;
}
.container .task_wrapper .todo_kotet .delete_item button {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: rgb(5, 5, 44);
  transition: all 0.1s;
}
.container .task_wrapper .todo_kotet .delete_item button:active {
  background-color: #661a1a;
}
.container .task_wrapper .todo_info {
  display: flex;
  justify-content: space-around;
  height: 25px;
  align-items: center;
  color: #c2cff5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.container .task_wrapper .todo_info span {
  cursor: pointer;
  margin-inline: 5px;
}
.container .task_wrapper .todo_info span .active {
  color: black;
}
.container .task_wrapper .todo_info .todo_status span:first-child {
  color: blue;
}/*# sourceMappingURL=style.css.map */