* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  gap: 20px;
}

.header {
  border: 1px solid #bcd9fa;
  border-radius: 15px;
  width: 50%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  position: relative;
}
.header .score {
  width: 120px;
  background-color: rgb(210, 227, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 2px;
}
.header .score_label {
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header .score_value {
  font-weight: bold;
  font-size: 50px;
}

.gamechoice {
  width: 50%;
  height: 28rem;
  position: relative;
}
.gamechoice #triangle {
  position: absolute;
  top: 94px;
  left: 185px;
}
.gamechoice #rock, .gamechoice #paper, .gamechoice #scisor {
  background-color: #e1eaf5;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.gamechoice #rock:hover, .gamechoice #paper:hover, .gamechoice #scisor:hover {
  transform: scale(1.2);
}
.gamechoice #rock:active, .gamechoice #paper:active, .gamechoice #scisor:active {
  transform: scale(1);
}
.gamechoice #rock {
  position: absolute;
  top: 60px;
  right: 155px;
  border: 15px solid red;
}
.gamechoice #paper {
  position: absolute;
  top: 60px;
  left: 170px;
  border: 15px solid blue;
}
.gamechoice #scisor {
  position: absolute;
  bottom: 45px;
  right: 265px;
  border: 15px solid rgb(238, 238, 88);
}
.gamechoice .player_pos {
  position: absolute;
  top: 60px;
  left: 170px;
  display: block !important;
}
.gamechoice .comp_pos {
  position: absolute;
  top: 60px;
  right: 155px;
  display: block !important;
}

#rule_btn {
  position: absolute;
  bottom: -20px;
  right: 100px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #bcd9fa;
  font-weight: bold;
  color: #d2e4f8;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}

.rules {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(26, 24, 24, 0.808);
}
.rules_popup {
  border: 1px solid #fff;
  padding: 10px;
  width: 75%;
  height: 450px;
  border-radius: 15px;
  background-color: #bcd9fa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  position: relative;
}
.rules_popup #close {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #150e74;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.rules_popup .play_rule {
  position: absolute;
  top: 70px;
  left: 50px;
  border-radius: 10px;
  border: 2px solid #150e74;
  padding: 40px 30px;
  width: 40%;
  height: 70%;
}
.rules_popup .play_rule h2 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 60px;
  color: rgb(24, 13, 124);
}
.rules_popup .score {
  border: 2px solid blue;
  height: 70%;
  width: 40%;
  position: absolute;
  border-radius: 10px;
  line-height: 50px;
  text-transform: uppercase;
  color: rgb(24, 13, 124);
  top: 70px;
  right: 50px;
  padding: 40px 30px;
}

.rules.show {
  display: block;
}/*# sourceMappingURL=style.css.map */